<!-- // Name : Sahil Tankaria
// Student ID : 100867174
// Date: April 18,2024 -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Animals</title>
</head>

<body>
    <h1>All Animals</h1>

    <table>
        <thead>
            <tr>
                <th>Zoo</th>
                <th>Scientific Name</th>
                <th>Common Name</th>
                <th>Given Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Age</th>
                <th>Transportable</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% animals.forEach(function(animal) { %>
            <tr>
                <td><%= animal.zoo %></td>
                <td><%= animal.scientificName %></td>
                <td><%= animal.commonName %></td>
                <td><%= animal.givenName %></td>
                <td><%= animal.gender %></td>
                <td><%= animal.dateOfBirth %></td>
                <td><%= animal.age %></td>
                <td><%= animal.isTransportable ? 'Yes' : 'No' %></td>
                <td>
                    <a href="/animals/<%= animal._id %>/edit">Edit</a>
                    <a href="/animals/<%= animal._id %>/delete">Delete</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

    <a href="/animals/new">Add New Animal</a>

</body>

</html>
